# Dependency directories
node_modules/

# Environment variables (This hides your Gemini API Key)
.env

# Firebase Admin Credentials (This hides your Database password)
firebase.json
firebase-service-account.json